@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@mixin container {
    width: 90%;
    margin: 0 auto;
}
//---color----//

$red : #b5132a;
$hcolor:#2c3e50;
$para:#787878;
$siteColor:#1F4E5F;
$text2:#F5A91D;
$border-width: 4px;
// $border-color: #ffc107;
$white:#fff;
$cap:capitalize;
$none:none;
$around:space-around;
$between:space-between;
//-----font----//

$heading:'Gotham Pro bold';
$p:'Gotham Pro Regular';
$transition: all .3s ease-in-out;